<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Resource Manager Category"
            id="com.myplugin.rmp">
      </category>
      <view
            name="Resource Manager View"
            icon="icons/sample.gif"
            category="com.myplugin.rmp"
            class="com.myplugin.rmp.views.ResourceManagerView"
            id="com.myplugin.rmp.views.ResourceManagerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.myplugin.rmp.ResourceManagerPerspectiveFactory"
            icon="icons/sample.gif"
            id="plugin.rmp.ResourceManagerPerspective"
            name="Resource Manager">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.myplugin.rmp.views.ResourceManagerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
